# Unit 6. 변수(Variable)

- 표기법

In [5]:
my_height = 174.5   # snake 표기법, 파이썬
myWeight = 72       # camel 표기법, JAVA

In [6]:
한글변수 = 5        # 한글변수명이 가능하나 잘 안쓰임

### 6.1 변수 만들기

In [7]:
x = 10

In [19]:
x, y, z = 10, 20, 30 # tuple unpacking

In [20]:
# 기존 언어에서 두개의 값을 바꾸는 방법(Swapping)
temp = x
x = y
y = temp
x, y

(20, 10)

In [21]:
# 파이썬
x, y = y, x
x, y

(10, 20)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split()

ValueError: At least one array required as input

In [24]:
x = y = z = 10

In [23]:
# 값이 없는 변수
x = None

### 6.2 변수 계산

In [40]:
a, b = 10, 20
c = a + b
a, b, c

(10, 20, 30)

In [41]:
# 변수 a의 값을 20만큼 증가 시켜라
a = a + 20
a

30

In [42]:
a += 20 # a = a + 20
a

50

In [43]:
# 1에서 100 까지 합 구하기
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [45]:
# 1에서 10 까지 곱 구하기
product = 1
for i in range(1,11):
        product *= i
print(product)

3628800

In [47]:
range(5)            # range(0, 5, 1)
0, 1, 2, 3, 4, 5

range(1,5)          # range(1, 5, 1)
1, 2, 3, 4

range(1,10,2)       # range(1, 10, 2)
1, 3, 5, 7, 9

(1, 3, 5, 7, 9)

### 6.3 입력(input)

In [ ]:
x = 10

In [52]:
x = input()     # input 은 정수 못받음
x, type(x)

In [ ]:
number = int(input())
number, type(number)